@CHARSET "UTF-8";

.contextMenu {
position: absolute;
visibility: hidden;
padding: 10px 10px 5px 10px;
background: #FFFFFF;
border: 1px solid #CCCCCC;
}
.contextMenu a {
display: block;
text-decoration: none;
cursor: pointer;
_cursor: hand;
}
.contextMenu a,
.contextMenu div {
font-size: 11px;
padding-left: 20px;
margin-bottom: 5px;
}
.contextMenu a:hover {
text-decoration: underline;
}
