.pbSubMenu ul a {
display: block;
padding-left: 5px;
}
.pbSubMenu ul a > span {
display: block;
}
.pbSubMenu ul {
margin: 0px;
line-height: 1.3em;
}
.pbSubMenu li.selected > a { 
background-color: #555555;
color: #FFFFFF;
}
.pbSubMenu li {
list-style: none;
margin: 0px;
margin-bottom: 5px;
}
.pbSubMenu li ul {
margin-top: 3px;
line-height: 1.1em;
}
.col .body {
padding: 0px;
}
.pbSubMenu ul a i {
display: none;
}
